<section class="container-fluit options-content">
	<section class="options-user-data">
		<div class="user-picture">
			<a><i class="far fa-user"></i></a>
		</div>
		<h1>Naam, Age</h1>
		<p>Genre1, Genre2, Genre3</p>
	</section>


	<ul class="nav options-nav">
	  <li class="nav-item col-6 split">
	    <a class="nav-link" href="#"><i class="far fa-user"></i></a>
	    <p>Info</p>
	   	<span class="showcode3">
	      <i class="fas fa-search"></i>
	  </span>
	  </li>
	  <li class="nav-item col-6">
	    <a class="nav-link" href="#"><i class="fas fa-cogs"></i></a>
	    <p>Opties</p>
	   	<span class="showcode3">
	      <i class="fas fa-wrench"></i>
	  </span>
	  </li>

	</ul>

	<h1> Updates</h1>

	<section class="owl-carousel owl-carousel-two owl-theme option-carousel-section">
	  <article class="option-carousel-item">
	  	<div class="date-of-update row">
	  		<div class="the-icon"><a class="nav-link" href="#"><i class="fas fa-cogs"></i></a></div>
	  		<h3> 9-4-2018</h3>
	  	</div>
		<p> Het idee voor Gesti is geboren en de eerste designs zijn gemaakt.</p>
	  </article>
	  <article class="option-carousel-item">
	  	<div class="date-of-update row">
	  		<div class="the-icon"><a class="nav-link" href="#"><i class="fas fa-cogs"></i></a></div>
	  		<h3> 11-4-2018</h3>
	  	</div>
		<p> De eerste commit voor de code van Gesti is gemaakt.</p>
	  </article>
	  <article class="option-carousel-item">
	  	<div class="date-of-update row">
	  		<div class="the-icon"><a class="nav-link" href="#"><i class="fas fa-cogs"></i></a></div>
	  		<h3> 19-4-2018</h3>
	  	</div>
		<p> Gesti heeft een werkende log-in en registratie formulier.</p>
	  </article>
	  <article class="option-carousel-item">
	  	<div class="date-of-update row">
	  		<div class="the-icon"><a class="nav-link" href="#"><i class="fas fa-cogs"></i></a></div>
	  		<h3> 20-4-2018</h3>
	  	</div>
		<p> Gesti werd gepresenteerd voor onze colegas van Young Capital en iedereen vond het geweldig.</p>
	  </article>



	</section>


</section>