<section class="container-fluit options-content">
	<section class="options-user-data">
		<div class="user-picture">
			<a><i class="far fa-user"></i></a>
		</div>
		<h1>Naam, Age</h1>
		<p>Genre1, Genre2, Genre3</p>
	</section>


	<ul class="nav options-nav">
	  <li class="nav-item col-6 split">
	    <a class="nav-link" href="#"><i class="far fa-user"></i></a>
	    <p>Info</p>
	   	<span class="showcode3">
	      <i class="fas fa-search"></i>
	  </span>
	  </li>
	  <li class="nav-item col-6">
	    <a class="nav-link" href="#"><i class="fas fa-cogs"></i></a>
	    <p>Opties</p>
	   	<span class="showcode3">
	      <i class="fas fa-wrench"></i>
	  </span>
	  </li>

	</ul>

	<section class="owl-carousel owl-carousel-two owl-theme option-carousel-section">
	  <article class="option-carousel-item">
	  	<div class="the-icon">
	    	<a class="nav-link" href="#"><i class="fas fa-cogs"></i></a>
		</div>
		<p> Hier kunnen festivals paid adds plaatsen.</p>
	  </article>



	</section>


</section>