<ul class="nav match-nav">
  <li class="nav-item col-6 split">
    <a class="nav-link active" href="#">Matches</a>
  </li>
  <li class="nav-item col-6">
    <a class="nav-link" href="#">Groups</a>
  </li>
</ul>

<section class="container-fluit chat-content">
	<h2>Festivalgangers</h2>
	<section class="container-fluit owl-carousel owl-theme match-list">
	  <article class="owl-item">
	        <div class="match-item">
	        	<a><i class="far fa-user"></i></a>
	        </div>
	       	<p>Naam</p>
	  </article>
	</section>

	<h2>Berichten</h2>
	<ul class="chat-list">
		<li class="row">
			<a><i class="fas fa-plus"></i></a>
			<div class="chat-messages-content">
				<h3>Naam</h3>
				<p>Bericht.....</p>
			</div>
		</li>
		<li class="row">
			<a><i class="fas fa-plus"></i></a>
			<div class="chat-messages-content">
				<h3>Naam</h3>
				<p>Bericht.....</p>
			</div>
		</li>
	</ul>
</section>

