.nav{
<<<<<<< HEAD:src/assets/scss/modules/nav.scss
	height: 69px;
	padding: 5px 0 5px 0;
=======
	height: 79px;
	padding: 12px 0 12px 0;
>>>>>>> adf252718cf762a20d63344f02cc47f60f08bb76:src/assets/scss/partials/nav.scss
	text-align: center;
	font-size: 2em;
	color: $light-font-color;
	background: $main-brand-color;
	a{
		color: $light-font-color;
	}	
}