.options-content{

	.options-user-data{
		text-align: center;
		background-color: $light-background-color;
		@include boxshadow;
		min-height: 300px;
		padding-top: 50px;
		color: $dark-background-color;

		.user-picture{
			height: 120px;
			width: 120px;
			margin: 0 auto 0 auto;
			background-color: $lightest-background-color;
			border-radius: 100%;
			color: $light-background-color;
			text-align: center;
			overflow: hidden;
			a{
				font-size: 6.3em;
				border-radius: 100%;
			}
		}
	}
	.options-nav{
		background-color: $lightest-background-color;

		margin: 0 5px 0 5px;
		margin-bottom: 15px;
		font-weight: 400;
		font-size: 1.5em;
		height: auto;
		.split{
			border-right: solid 2px $light-background-color;
		}
		a{
			color: $dark-background-color;
		}
			.nav-link{
				height: 100px;
				width: 100px;
				margin: 30px auto 0 auto;
				background-color: $light-background-color;
				border-radius: 100%;
				color: $dark-background-color;
				text-align: center;
				overflow: hidden;
				font-size: 2em;
				svg{
					border-radius: 100%;
					margin-top: 10px;
				}

	}
	p{
		color: $darker-background-color;
		text-align: center;
	}
}

	h1{
		text-align: center;
		color: $dark-background-color;
	}
}


.option-carousel-section{
	height: auto;
	padding: 25px 0 0 0;
	.option-carousel-item{
		width: 300px;
		.the-icon{
			
			border-radius: 100%;
			height: 50px;
			width: 50px;
			text-align: center;
			overflow: hidden;
			font-size: 1em;
			svg{
				border-radius: 100%;
				margin-top: 6px;
				color: $main-brand-color;
			}
		}
	}
	p{
		color: $dark-background-color;
		text-align: center;
	}
	h3{
		color: $dark-background-color;
	}
}




.owl-theme .owl-nav.disabled+.owl-dots{
	display: block !important;
}